<nav data-nav class="bg-white divider-grey tc pv4">

  <!-- Logo centrato -->
  <div class="center mb3" style="max-width: 300px;">
    <a href="/" style="display: block;">
      <img src="/img/logo-herald.png.png" alt="The Herald of Nobility" style="width: 100%; height: auto;" />
    </a>
  </div>

  <!-- Menu orizzontale centrato -->
  <ul class="flex justify-center b grey-3 nav-menu">
  <li><a href="/" class="pa3 no-underline db">Home</a></li>
  <li><a href="/post" class="pa3 no-underline db">Articoli</a></li>
  <li><a href="/contact" class="pa3 no-underline db">Contatti</a></li>
  </ul>

</nav>
